body{
  background-color: #f2f3f4 !important;
  /* position: relative; */
  opacity: 85%;
  margin: 0;
  padding: 0;
  /* height: auto; */
}

@media only screen and (max-width: 330px ){
  body{
    overflow: auto !important;
    height: 125% !important;
  }
  .container{
    margin: 0px 10px !important;
  }
  .citations{
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 768px) {
  body{
    width: auto !important;
  }

  .imghead{
    width: 200px !important;
    height: 40px;
  }

  .mat-cell{
    font-size: 10px !important;
  }
  .col-md-9{
    max-width:50% !important;
    padding: 0px !important;
  }
  .col-md-3{
    max-width:40% !important;
    padding: 0px !important;

    /* padding-bottom: 20px !important; */
    /* margin-bottom: 20px !important; */
  }
  /* .widgets_div {
    text-align: initial !important;
  } */
  .container{
    margin: 0px 5px !important;
  }
  .citations{
    font-size: 10px !important;
    font-weight: bold !important;
  }

  .widgets_div .icon_div {
    display: inline-block;
    margin-left: 5px !important;
    vertical-align:middle;
  }
  
  .widgets_div .text_div {
    display: inline-block;
    /* margin-left: 2px !important; */
    vertical-align: middle;
  }
  .officetext{
    font-size:10px !important;
  }
  .material-icons{
    font-size: 15px !important;
    padding-top: 15px !important;
  }
  .ptext{
    font-size: 12px !important;
  }
  .tablewidth{
    max-width: 500px !important;
  }
}

.citations{
  font-size: 30px;
  color: #2A3C50;
}

.footer{
  padding: 2px;
  border: 1px;
}

.text{
color: white;
}

label{
  color: #f4ac3b;
  /* font-weight: 600; */
}

.text1{
color:#f4ac3b;
text-align: center;
font-size: 20px;
font-weight: 600;
}

.btn-primary{
background-color:#f4ac3b;
border-color: #f4ac3b;
font-weight: 600;
}

.form-control{
border: 2px solid white;
}


/* New Code Start */

.container{
  margin: 0px 40px;
}

.material-icons{
  font-size: 26px;
  padding-top: 8px;
  padding-right: 5px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
}

.mat-raised-button{
  background-color: #0b5fa5;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.widgets_div {
  text-align: end;
}

.widgets_div .icon_div {
  /* display: inline-block; */
  margin-left: 15px;
  vertical-align:middle;
  float: left;
}

.widgets_div .text_div {
  /* display: inline-block; */
  margin-left: 10px;
  vertical-align: middle;
  float: left;
}
.icon_div {
  float: left;
  color: white !important;
}
.imghead{
  width: 242px;
  height: 40px;
}
 

.text_div {
  float: left;
  color: white !important;
}
.highlight{
  background: orange; 
}

.mat-checkbox ::ng-deep .mat-checkbox-frame {
    border-color: blue !important;
  }

/* New Code End */


/* css for input label */

/* .has-float-label {
  display: block;
  position: relative;
}
.has-float-label label, .has-float-label > span {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
  top: -.5em;
  left: 0.75rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
}
.has-float-label label::after, .has-float-label > span::after {
  content: " ";
  display: block;
  position: absolute;
  background: white;
  height: 2px;
  top: 50%;
  left: -.2em;
  right: -.2em;
  z-index: -1;
}
.has-float-label .form-control::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.has-float-label .form-control::-moz-placeholder {
  opacity: 1;
  transition: all .2s;
}
.has-float-label .form-control:-ms-input-placeholder {
  opacity: 1;
  transition: all .2s;
}
.has-float-label .form-control::placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
  opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
  opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus) + * {
  font-size: 150%;
  opacity: .5;
  top: .3em;
}

.input-group .has-float-label {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.input-group .has-float-label .form-control {
  width: 100%;
  border-radius: 0.25rem;
}
.input-group .has-float-label:not(:last-child), .input-group .has-float-label:not(:last-child) .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
.input-group .has-float-label:not(:first-child), .input-group .has-float-label:not(:first-child) .form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
} */

/* end of css label */