<nav class="navbar" style="background-color: #2a3c50; padding: 0.75rem 1rem 0.75rem; background-size: contain;">
    <img src="./assets/logo.png" alt="California Courts" style="width: 242px; height: 40px;" />
</nav>

<body>
    <br>

     <!-- New Code Starts-->

  <br>
  <div class="row container">
    <div class="col-md-9">
  <p style="font-size: 30px;color: #2A3C50;" >Your Citations</p>
</div>
<div class="col-md-3 widgets_div">
  <div class="icon_div">
  <span class="material-icons">
    person
  </span>
</div>
    <div class="text_div">
  <span>
  {{this.officer.OfficerName}}<br>
  {{this.officer.Badge}}<br>
  {{this.officer.OfficerID}}<br>
</span>
</div>
</div>
  </div>  
<br>
<div class="container">
<p>Your userid contains your name and badge number.  We will use this information for a citation search. Please confirm information for agency and county for citation search and user profile:</p>

<form *ngIf="agencyForm" #EditItemForm="ngForm" [formGroup]="agencyForm" class="normal-form" (ngSubmit)="agencyDetails()">
<mat-checkbox formControlName="agency" (change)="agency($event,this.officer.AgencyName)">
  {{this.officer.AgencyName}}
</mat-checkbox>
</form>
<br>
<form *ngIf="countyForm" #EditItemForm="ngForm" [formGroup]="countyForm" class="normal-form" (ngSubmit)="countyDetails()">

  <div *ngFor="let c of this.fetchcounty" style="display: inline; padding-left: 5px;">
    <mat-checkbox formControlName="county"  (change)="toggle($event,c)">
      {{c}}
    </mat-checkbox>
    </div>
<!-- <mat-radio-group required [ngModel]="selectedRadio" aria-label="Select an option"
formControlName="county"
>
  <mat-radio-button *ngFor = "let c of this.county.countyname" [value] = "c">{{c}}</mat-radio-button>
</mat-radio-group> -->
<br><br>
<div align="center">
<button mat-raised-button [disabled]="!EditItemForm">Confirm</button>
</div>
</form>
</div>

<br>

<div class="container">

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Citation Column -->
    
    <ng-container matColumnDef="citation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Citation # </th>
      <td mat-cell *matCellDef="let row"> {{row.citation}} </td>
    </ng-container>

    <!-- Full Name Column -->
    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
      <td mat-cell *matCellDef="let row"> {{row.FullName}}</td>
    </ng-container>

    <!-- County Column -->
    <ng-container matColumnDef="County">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> County </th>
      <td mat-cell *matCellDef="let row">{{row.County}}  </td>
    </ng-container>

    <!-- Violation Date Column -->
    <ng-container matColumnDef="ViolationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Violation Date </th>
      <td mat-cell *matCellDef="let row" > {{row.ViolationDate}} </td>
    </ng-container>

    <ng-container matColumnDef="DueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
      <td mat-cell *matCellDef="let row"> {{row.DueDate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[3, 10, 25, 100]"></mat-paginator>
</div>
</div>
<br><br><br><br><br><br><br>

  <!-- New Code Ends-->
  <footer class="page-footer">
    <p style="text-align: center; color: white; font-weight: 600;">&copy; 2020 Judicial Council of California</p>
</footer>
</body>
